## Imports

In [4]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
%autoreload
#from map_function import closest_metro
from pprint import pprint
from statistics import mean
import os
import gmplot
import pandas as pd

In [6]:
from dataset_bending import get_all_datasets, get_dataset_info, get_dataset_data, get_dataset_data_full

## Code

In [7]:
url = next(get_dataset_info("alojamento-local"))
print(url)

https://servsig.cm-porto.pt/arcgis/rest/services/OpenData_APD/OpenData_APD/MapServer/35

In [8]:
datapoint = next(get_dataset_data(url))
print(datapoint)

{'objectid': 1, 'data_levan': 1488758400000, 'cod_dmpu': '140747', 'cod_topo': 'RCAMO0', 'n_pol': '77', 'nome_aloj': 'Metro Apartment', 'ano_reg': 2016, 'ano_ab': 2016, 'n_reg': '35375/AL', 'tit_expl': None, 'qual_tit': 'Proprietario', 'tit_tipo': 'Pessoa singular (empresário em nome individual)', 'obs': None, 'pos_1951': 'S', 'nud': None, 'morada': 'Rua Rua Camões, 77 1º 1.1', 'desativo': None, 'modalidade': 'Apartamento', 'n_policia': None, 'cod_postal': '4000-144', 'data_reg': 1475193600000, 'data_ab': 1477958400000, 'toponimo': None, 'cod_freg': None, 'cod_sgr': None, 'n_ordem': None, 'cod_gis': None, 'np_codtopo': None, 'coordinates': [-8.610274113044303, 41.1525537929996]}

In [9]:
dataset = list(get_dataset_data(url))
print("Dataset has %d datapoints" % len(dataset))

Dataset has 1000 datapoints

## Alojamentos with bad names

In [10]:
alojamentos = list(get_dataset_data(next(get_dataset_info('alojamento-local'))))
for a in alojamentos: 
    if a["nome_aloj"] == "0": pprint(a["n_reg"])

'17775/AL'
'27604/AL'
'29751/AL'

## Generate Polygons

In [11]:
def create_polygons(coordinates, gmap=None, display=False):
    lon, lat = tuple(map(list,zip(*coordinates)))
    gmap = gmplot.GoogleMapPlotter(min(lat), mean(lon), 16) if not gmap else gmap
    gmap.apikey = "AIzaSyA2B83Ome4_S-EXUe5zLTrkaGeZv-Ndft4"
    gmap.polygon(lat, lon, color = 'cornflowerblue') 
    if display: os.system("temp.html")
    return gmap

In [12]:
def display_plot(gmap, filename="temp.html"):
    gmap.draw(filename)
    os.system(filename)

In [13]:
def display_dataset_polygon(dataset):
    gmap = None
    for datapoint in dataset:
        gmap = create_polygons(datapoint["coordinates"][0], gmap)
    display_plot(gmap)

In [14]:
def create_points(coordinates, gmap=None, display=False):
    lon, lat = tuple(coordinates)
    gmap = gmplot.GoogleMapPlotter(lat, lon, 16) if not gmap else gmap
    gmap.apikey = "AIzaSyA2B83Ome4_S-EXUe5zLTrkaGeZv-Ndft4"
    gmap.scatter([lat], [lon], '#FF0000', size = 25, marker = False) 
    if display: os.system("temp.html")
    return gmap

In [15]:
def display_dataset_points(dataset):
    gmap = None
    for datapoint in dataset:
        gmap = create_points(datapoint["coordinates"], gmap)
    display_plot(gmap)

In [16]:
def try_to_display_dataset(dataset_name):
    url = next(get_dataset_info(dataset_name))
    print(url)
    dataset = get_dataset_data_full(url)
    # coordinates are len 2, polygons are not
    if len(dataset[0]["coordinates"]) == 2: display_dataset_points(dataset)
    else: display_dataset_polygon(dataset)

### Some polygon tests

In [17]:
try_to_display_dataset("areas-verdes")

https://servsig.cm-porto.pt/arcgis/rest/services/OpenData_APD/OpenData_APD/MapServer/77

In [18]:
try_to_display_dataset("ruido-zona-sensivel")

https://servsig.cm-porto.pt/arcgis/rest/services/OpenData_APD/OpenData_APD/MapServer/73

# Create Dataset
Datasets uteis

Para features:
- ruído
- qualidade do ar
- ponto de interesse
- templos religiosos
- promoção de vinho do porto
- restaurantes
- areas verdes
- metro do porto
- ciclovias
- praça de taxis
- transportes públicos
- medições de trânsito
- quiosques multimédia
- Fontes de contaminação
- Zonas instáveis
- Áreas verdes / Espaços verdes com valor patrimonial
- Áreas edificadas
- Supermercados
- Feiras e mercados / Zonas de comércio tradicional
- Posto de informação turística

Para outras cenas:
- Limites de freguesia
- Alojamento local
- Alojamentos hoteleiros
- Pensões, Residenciais e Hospedarias
- Hotéis, ApartHoteis e Albergarias

In [19]:
pprint(get_all_datasets())

['agua-de-nascente',
 'alojamento-local',
 'alojamentos-hoteleiros-2011',
 'areas-edificadas',
 'areas-verdes',
 'atlas-desportivo',
 'bairros-de-casas-economicas-do-estado-novo',
 'balizas-de-sinalizacao',
 'bicicletarios',
 'carta-de-patrimonio',
 'cemiterios-municipais-ou-privados-2007',
 'centros-de-saude-e-extensoes-2001',
 'ciclovias',
 'correios-2013',
 'dissuasores-de-controlo-de-acessos',
 'ecocentros-2006',
 'edificios-de-interesse-publico',
 'edificios-de-interesse-publico-2012',
 'eixos-de-via-infraestruturas-portugal',
 'envolvente',
 'equipamentos-de-recolha-contentores-cinzentos_-cones_recolha-de-objectos-fora-de-uso_-reee-e-vidroes',
 'equipamentos-de-saude',
 'espacos-verdes-com-valor-patrimonial-2012',
 'estabelecimentos-de-bebidas-e-restauracao-da-movida-2012',
 'estabelecimentos-de-ensino-por-ano-letivo',
 'estabelecimentos-de-ensino-superior-por-ano-letivo',
 'feiras-e-mercados-2011',
 'fontes-de-contaminacao-cemiterios-carta-de-ocupacao-de-superficie',
 'fontes-de-contaminacao-cemiterios-carta-hidrogeologica',
 'fontes-de-contaminacao-depositos-de-lixo-misto-aterrados-carta-de-ocupacao-de-superficie',
 'fontes-de-contaminacao-depositos-de-lixo-misto-aterrados-carta-hidrogeologica',
 'fontes-de-contaminacao-entulheiras-aterradas-carta-de-ocupacao-de-superficie',
 'fontes-de-contaminacao-entulheiras-aterradas-carta-hidrogeologica',
 'fontes-de-contaminacao-entulheiras-carta-de-ocupacao-de-superficie',
 'fontes-de-contaminacao-entulheiras-carta-hidrogeologica',
 'fontes-de-contaminacao-lixeiras-aterradas-carta-de-ocupacao-de-superficie',
 'fontes-de-contaminacao-lixeiras-aterradas-carta-hidrogeologica',
 'fontes-de-contaminacao-sucatas-carta-de-ocupacao-de-superficie',
 'fontes-de-contaminacao-sucatas-carta-hidrogeologica',
 'furos-de-captacao-de-agua',
 'georisk-carta-de-ocorrencias',
 'georisk-carta-de-vulnerabilidade',
 'hoteis_-aparthoteis-e-albergarias-centroides',
 'informacao-publica-dos-servicos-de-transporte-colectivo-do-porto',
 'limites-de-freguesias-1956',
 'limites-de-freguesias-pos-reforma-da-lei-no-11-a-2013',
 'metro-do-porto',
 'nascentes',
 'parcometros-zonas-de-estacionamento-pago',
 'parques-de-estacionamento-municipais',
 'parques-de-motociclos',
 'patrimonio-mundial',
 'pensoes_-residenciais-e-hospedarias-centroides',
 'piscinas-centroides',
 'pocos',
 'porto-meteorologia',
 'porto-niveis-ruido',
 'porto-pontos-de-acesso-wifi-apd',
 'porto-pontos-de-interesse',
 'porto-qualidade-do-ar',
 'porto-transito',
 'porto-veiculos-do-municipio',
 'postos-de-abastecimento-de-combustiveis-centroides',
 'postos-de-informacao-turistica-centroides',
 'praca-de-taxis',
 'processos-de-fiscalizacao-ambito-do-dep-municipal-de-fiscalizacao',
 'promocao-do-vinho-do-porto-centroides',
 'quiosques-multimedia-centroides',
 'recintos-musicais-centroides',
 'recintos-polidesportivos-centroides',
 'reparticoes-de-financas-e-tesourarias-servicos-centroides',
 'restaurantes-centroides',
 'ruido-zona-mista',
 'ruido-zona-mista-2012',
 'ruido-zona-sensivel',
 'ruido-zona-sensivel-2012',
 'sinalizacao-led-em-travessias-de-peoes',
 'stcp-autocarros-paragens-centroides',
 'superficies-comerciais-distribuicao-centroides',
 'supermercados-e-hipermercados',
 'teatros-centroides',
 'templos-religiosos-centroides',
 'transito_-impedimentos-e-obras-online',
 'transportes-publicos-stcp',
 'transportes-publicos-stcp-linhas',
 'transportes-publicos-stcp-paragens',
 'tribunais-centroides',
 'zona-de-recolha-de-residuos',
 'zonas-de-comercio-tradicional-centroides',
 'zonas-instaveis-mais-criticas',
 'zonas-instaveis-menos-criticas',
 'zonas-potencialmente-instaveis']

In [20]:
pprint(list(get_dataset_info("templos-religiosos-centroides")))
# print(list(get_dataset_data("https://servsig.cm-porto.pt/arcgis/rest/services/OpenData_APD/OpenData_APD/MapServer/28")))
try_to_display_dataset("promocao-do-vinho-do-porto-centroides")

['https://servsig.cm-porto.pt/arcgis/rest/services/OpenData_APD/OpenData_APD/MapServer/28']
https://servsig.cm-porto.pt/arcgis/rest/services/OpenData_APD/OpenData_APD/MapServer/89

In [21]:
not_used_yet = ["porto-pontos-de-interesse", ]

In [22]:
polygon_datasets = ["areas-verdes", "ruido-zona-sensivel", "ruido-zona-mista"]

In [23]:
geopoint_datasets = ["templos-religiosos-centroides", "promocao-do-vinho-do-porto-centroides"]

In [24]:
url = next(get_dataset_info("alojamento-local"))
alojamentos = get_dataset_data_full(url)
print(alojamentos[0])

{'objectid': 1, 'data_levan': 1488758400000, 'cod_dmpu': '140747', 'cod_topo': 'RCAMO0', 'n_pol': '77', 'nome_aloj': 'Metro Apartment', 'ano_reg': 2016, 'ano_ab': 2016, 'n_reg': '35375/AL', 'tit_expl': None, 'qual_tit': 'Proprietario', 'tit_tipo': 'Pessoa singular (empresário em nome individual)', 'obs': None, 'pos_1951': 'S', 'nud': None, 'morada': 'Rua Rua Camões, 77 1º 1.1', 'desativo': None, 'modalidade': 'Apartamento', 'n_policia': None, 'cod_postal': '4000-144', 'data_reg': 1475193600000, 'data_ab': 1477958400000, 'toponimo': None, 'cod_freg': None, 'cod_sgr': None, 'n_ordem': None, 'cod_gis': None, 'np_codtopo': None, 'coordinates': [-8.610274113044303, 41.1525537929996]}

In [25]:
try_to_display_dataset("alojamento-local")

https://servsig.cm-porto.pt/arcgis/rest/services/OpenData_APD/OpenData_APD/MapServer/35

# Construct Dataframe

In [26]:
import pandas as pd

In [36]:
def get_dataframe_alojamentos():
    url = next(get_dataset_info("alojamento-local"))
    alojamentos = get_dataset_data_full(url)
    df = pd.DataFrame(columns=["id", "data_levan", "nome", "ano_registo", "type", "address", "freg", "lat", "lon"])
    print(alojamentos[0])
    for i, a in enumerate(alojamentos):
         df.loc[i] = [a["objectid"], a["data_levan"], a["nome_aloj"],
                      a["ano_reg"], a["modalidade"],
                      "%s, %s Porto, Portugal" % (a["morada"], a["cod_postal"]),
                      a["cod_freg"],
                      a["coordinates"][1], a["coordinates"][0]]
    return df

In [37]:
df = get_dataframe_alojamentos()
df.head(10)

{'objectid': 1, 'data_levan': 1488758400000, 'cod_dmpu': '140747', 'cod_topo': 'RCAMO0', 'n_pol': '77', 'nome_aloj': 'Metro Apartment', 'ano_reg': 2016, 'ano_ab': 2016, 'n_reg': '35375/AL', 'tit_expl': None, 'qual_tit': 'Proprietario', 'tit_tipo': 'Pessoa singular (empresário em nome individual)', 'obs': None, 'pos_1951': 'S', 'nud': None, 'morada': 'Rua Rua Camões, 77 1º 1.1', 'desativo': None, 'modalidade': 'Apartamento', 'n_policia': None, 'cod_postal': '4000-144', 'data_reg': 1475193600000, 'data_ab': 1477958400000, 'toponimo': None, 'cod_freg': None, 'cod_sgr': None, 'n_ordem': None, 'cod_gis': None, 'np_codtopo': None, 'coordinates': [-8.610274113044303, 41.1525537929996]}

,id,data_levan,nome,ano_registo,type,address,freg,lat,lon
0,1,1488758400000,Metro Apartment,2016,Apartamento,"Rua Rua Camões, 77 1º 1.1, 4000-144 Porto, Por...",None,41.152554,-8.610274
1,2,1488758400000,Be Happy Flat,2016,Apartamento,"Rua Rua Camões, 327 1.º Hab. 1.5, 4000-145 Por...",None,41.154861,-8.610286
2,3,1488758400000,Camões Apartment,2016,Apartamento,"Rua Rua Camões, 387 2º Dt, 4000-146 Porto, Por...",None,41.155397,-8.610221
3,4,1488758400000,Zarolho,2016,Apartamento,"None, None Porto, Portugal",None,41.157035,-8.610126
4,5,1488758400000,Casa Carvalheiras,2016,Moradia,"None, 4000-159 Porto, Portugal",None,41.154907,-8.605619
5,6,1488758400000,E-House Asprela,2016,Moradia,"None, 4200-011 Porto, Portugal",None,41.176717,-8.610834
6,7,1488758400000,CAZV,2016,Apartamento,"Rua Rua Coutinho de Azevedo, 214 R/C, 4000-189...",None,41.158079,-8.596343
7,8,1488758400000,Girassol,2016,Moradia,"Rua Rua Coutinho de Azevedo, 259, 4000-190 Por...",None,41.158200,-8.596966
8,9,1488758400000,Estudio 312,2016,Apartamento,"None, 4000-188 Porto, Portugal",None,41.158680,-8.597245
9,10,1488758400000,Andorinhas,2016,Apartamento,"None, 4200-221 Porto, Portugal",None,41.163204,-8.602644

In [38]:
df.type.unique()

array(['Apartamento', 'Moradia', 'Estabelecimento de hospedagem',
       'Estabelecimento de hospedagem-Hostel', None], dtype=object)

In [39]:
url = next(get_dataset_info("metro-do-porto"))
paragens_metro = get_dataset_data_full(url)
print(paragens_metro[0])

{'objectid': 1, 'cod_topo': 'VFCPO0', 'telefone': 808205060, 'url': 'www.metro-porto.pt', 'designacao': 'Estádio do Dragão', 'descricao': 'Linhas : A (azul),B (vermelha),E (violeta) e F (laranja)', 'cod_gis': '03010400002', 'cod_freg': '03', 'cod_sgr': '0104', 'n_ordem': '00002', 'data_reg': 1245628800000, 'user_reg': 'rafaeldias', 'coordinates': [-8.581977632087371, 41.16077571199471]}

# Adding the distance to the closest subway station

In [40]:
def get_dataframe_paragens_metro():
    url = next(get_dataset_info("metro-do-porto"))
    paragens_metro = get_dataset_data_full(url)
    df = pd.DataFrame(columns=["id", "lat", "lon"])
    print(paragens_metro[0])
    for i, a in enumerate(paragens_metro):
         df.loc[i] = [a["objectid"], a["coordinates"][1], a["coordinates"][0]]
    return df

In [41]:
metros = get_dataframe_paragens_metro()
metros.head()

{'objectid': 1, 'cod_topo': 'VFCPO0', 'telefone': 808205060, 'url': 'www.metro-porto.pt', 'designacao': 'Estádio do Dragão', 'descricao': 'Linhas : A (azul),B (vermelha),E (violeta) e F (laranja)', 'cod_gis': '03010400002', 'cod_freg': '03', 'cod_sgr': '0104', 'n_ordem': '00002', 'data_reg': 1245628800000, 'user_reg': 'rafaeldias', 'coordinates': [-8.581977632087371, 41.16077571199471]}

    id        lat       lon
0  1.0  41.160776 -8.581978
1  2.0  41.152402 -8.609359
2  3.0  41.160708 -8.628830
3  4.0  41.183232 -8.602292
4  5.0  41.181217 -8.604558

In [42]:
%load_ext autoreload
%autoreload
from geographical_functions import closest_metro

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
df['nearest_metro']=[closest_metro(ap, metros) for idx, ap in df.iterrows()]
df.head()

,id,data_levan,nome,ano_registo,type,address,freg,lat,lon,nearest_metro
0,1,1488758400000,Metro Apartment,2016,Apartamento,"Rua Rua Camões, 77 1º 1.1, 4000-144 Porto, Por...",None,41.152554,-8.610274,78.587973
1,2,1488758400000,Be Happy Flat,2016,Apartamento,"Rua Rua Camões, 327 1.º Hab. 1.5, 4000-145 Por...",None,41.154861,-8.610286,283.877729
2,3,1488758400000,Camões Apartment,2016,Apartamento,"Rua Rua Camões, 387 2º Dt, 4000-146 Porto, Por...",None,41.155397,-8.610221,230.698904
3,4,1488758400000,Zarolho,2016,Apartamento,"None, None Porto, Portugal",None,41.157035,-8.610126,82.091015
4,5,1488758400000,Casa Carvalheiras,2016,Moradia,"None, 4000-159 Porto, Portugal",None,41.154907,-8.605619,405.762343

In [44]:
url = next(get_dataset_info("stcp-autocarros-paragens-centroides"))
paragens_metro = get_dataset_data_full(url)
print(paragens_metro[0])

{'objectid': 5039, 'codigo': 'ADA3', 'coord_x': 159736.51355773, 'coord_y': 466951.16212523, 'tipo': 'PARAGEM SEM ABRIGO', 'n_policia': '603', 'observacao': None, 'fotos': 'D:\\SIG\\FOTOS\\ADA 3.TIF', 'morada': 'RUA VALE FORMOSO', 'concelho': 'PORTO', 'freguesia': 'PARANHOS', 'zonam_and': 'C1', 'descricao': 'ARCA D ÁGUA', 'decricao1': 'Arca d Água', 'cod_gis': '10011300157', 'cod_topo': 'RVFOR0', 'cod_freg': '10', 'n_ordem': '00157', 'cod_sgr': '0113', 'coordinates': [-8.612939239762506, 41.170720564495944]}

# Adding the distance to the closest bus stop

In [115]:
def get_dataframe_paragens_bus():
    url = next(get_dataset_info("stcp-autocarros-paragens-centroides"))
    paragens_metro = get_dataset_data_full(url)
    df = pd.DataFrame(columns=["id", "lat", "lon"])
    print(paragens_metro[0])
    for i, a in enumerate(paragens_metro):
         df.loc[i] = [a["objectid"], a["coordinates"][1], a["coordinates"][0]]
    return df

In [117]:
bus = get_dataframe_paragens_bus()
bus.head()

{'objectid': 5039, 'codigo': 'ADA3', 'coord_x': 159736.51355773, 'coord_y': 466951.16212523, 'tipo': 'PARAGEM SEM ABRIGO', 'n_policia': '603', 'observacao': None, 'fotos': 'D:\\SIG\\FOTOS\\ADA 3.TIF', 'morada': 'RUA VALE FORMOSO', 'concelho': 'PORTO', 'freguesia': 'PARANHOS', 'zonam_and': 'C1', 'descricao': 'ARCA D ÁGUA', 'decricao1': 'Arca d Água', 'cod_gis': '10011300157', 'cod_topo': 'RVFOR0', 'cod_freg': '10', 'n_ordem': '00157', 'cod_sgr': '0113', 'coordinates': [-8.612939239762506, 41.170720564495944]}

       id        lat       lon
0  5039.0  41.170721 -8.612939
1  5040.0  41.170785 -8.612784
2  5041.0  41.229549 -8.527686
3  5042.0  41.229456 -8.527943
4  5043.0  41.136292 -8.628005

In [118]:
df['nearest_bus']=[closest_metro(ap, bus) for idx, ap in df.iterrows()]
df.head()

,id,data_levan,nome,ano_registo,type,address,freg,lat,lon,nearest_metro,nearest_bus
0,1,1488758400000,Metro Apartment,2016,Apartamento,"Rua Rua Camões, 77 1º 1.1, 4000-144 Porto, Por...",None,41.152554,-8.610274,78.587973,38.058922
1,2,1488758400000,Be Happy Flat,2016,Apartamento,"Rua Rua Camões, 327 1.º Hab. 1.5, 4000-145 Por...",None,41.154861,-8.610286,283.877729,66.832204
2,3,1488758400000,Camões Apartment,2016,Apartamento,"Rua Rua Camões, 387 2º Dt, 4000-146 Porto, Por...",None,41.155397,-8.610221,230.698904,100.771066
3,4,1488758400000,Zarolho,2016,Apartamento,"None, None Porto, Portugal",None,41.157035,-8.610126,82.091015,6.434237
4,5,1488758400000,Casa Carvalheiras,2016,Moradia,"None, 4000-159 Porto, Portugal",None,41.154907,-8.605619,405.762343,103.531424

# Adding the distance to the closest tourism information center

In [119]:
url = next(get_dataset_info("postos-de-informacao-turistica-centroides"))
paragens_metro = get_dataset_data_full(url)
print(paragens_metro[0])

{'objectid': 1, 'cod_topo': 'RIDHE0', 'fraccao': None, 'telefone': 222060412, 'url': 'www.portoturismo.pt', 'designacao': 'Posto de Turismo da Câmara Municipal do Porto - Ribeira', 'descricao': 'Atendimento e Disponibilização de Informação ao Turista - Posto Ribeira;  Horário: Todos os dias 09H00-19H00; Contact Center - 808781212; GPS: Lat.41º 8\' 27.45" / Long. 8º 36\' 52.52" (WGS 84)', 'cod_gis': '13110100001', 'cod_freg': '13', 'cod_sgr': '1101', 'n_ordem': '00001', 'data_reg': 1245628800000, 'user_reg': 'rafaeldias', 'n_policia': '63', 'fax': 222060414, 'e_mail': 'turismo.ribeira@cm-porto.pt', 'coordinates': [-8.614623352673375, 41.14091904429591]}

In [121]:
def get_dataframe_paragens_tur():
    url = next(get_dataset_info("postos-de-informacao-turistica-centroides"))
    paragens_metro = get_dataset_data_full(url)
    df = pd.DataFrame(columns=["id", "lat", "lon"])
    print(paragens_metro[0])
    for i, a in enumerate(paragens_metro):
         df.loc[i] = [a["objectid"], a["coordinates"][1], a["coordinates"][0]]
    return df

In [122]:
tur = get_dataframe_paragens_tur()
tur.head()

{'objectid': 1, 'cod_topo': 'RIDHE0', 'fraccao': None, 'telefone': 222060412, 'url': 'www.portoturismo.pt', 'designacao': 'Posto de Turismo da Câmara Municipal do Porto - Ribeira', 'descricao': 'Atendimento e Disponibilização de Informação ao Turista - Posto Ribeira;  Horário: Todos os dias 09H00-19H00; Contact Center - 808781212; GPS: Lat.41º 8\' 27.45" / Long. 8º 36\' 52.52" (WGS 84)', 'cod_gis': '13110100001', 'cod_freg': '13', 'cod_sgr': '1101', 'n_ordem': '00001', 'data_reg': 1245628800000, 'user_reg': 'rafaeldias', 'n_policia': '63', 'fax': 222060414, 'e_mail': 'turismo.ribeira@cm-porto.pt', 'coordinates': [-8.614623352673375, 41.14091904429591]}

    id        lat       lon
0  1.0  41.140919 -8.614623
1  2.0  41.150192 -8.611171
2  3.0  41.147413 -8.609382
3  4.0  41.143026 -8.611626

In [126]:
df['nearest_tur_point']=[closest_metro(ap, tur) for idx, ap in df.iterrows()]
df.head()

,id,data_levan,nome,ano_registo,type,address,freg,lat,lon,nearest_metro,nearest_bus,nearest_tur_point
0,1,1488758400000,Metro Apartment,2016,Apartamento,"Rua Rua Camões, 77 1º 1.1, 4000-144 Porto, Por...",None,41.152554,-8.610274,78.587973,38.058922,272.813299
1,2,1488758400000,Be Happy Flat,2016,Apartamento,"Rua Rua Camões, 327 1.º Hab. 1.5, 4000-145 Por...",None,41.154861,-8.610286,283.877729,66.832204,523.688312
2,3,1488758400000,Camões Apartment,2016,Apartamento,"Rua Rua Camões, 387 2º Dt, 4000-146 Porto, Por...",None,41.155397,-8.610221,230.698904,100.771066,583.297994
3,4,1488758400000,Zarolho,2016,Apartamento,"None, None Porto, Portugal",None,41.157035,-8.610126,82.091015,6.434237,764.713348
4,5,1488758400000,Casa Carvalheiras,2016,Moradia,"None, 4000-159 Porto, Portugal",None,41.154907,-8.605619,405.762343,103.531424,700.770281

# Adding number of POI within 1000 meters

In [ ]:
url = next(get_dataset_info("porto-pontos-de-interesse"))
paragens_metro = get_dataset_data_full(url)

In [64]:
def get_dataframe_paragens_poi():
    url = next(get_dataset_info("porto-pontos-de-interesse"))
    paragens_metro = get_dataset_data_full(url)
    df = pd.DataFrame(columns=["lat", "lon"])
    #print(paragens_metro[0])
    for i, a in enumerate(paragens_metro):
         df.loc[i] = [a["lat"], a["lon"]]
    return df

In [65]:
poi = get_dataframe_paragens_poi()
poi.head()

         lat       lon
0  41.173078 -8.647118
1  41.149275 -8.620760
2  41.136301 -8.618346
3  41.152033 -8.607037
4  41.152033 -8.607037

In [66]:
%load_ext autoreload
%autoreload
from map_function import how_many_close_poi

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [73]:
df['POI_closer_than_1000']=[how_many_close_poi(ap, poi, 1000) for idx, ap in df.iterrows()]
df.head()

,id,data_levan,nome,ano_registo,type,address,freg,lat,lon,nearest_metro,nearest_bus,nearest_tur_point,POI_closer_than_1000
0,1,1.488758e+12,Metro Apartment,2016.0,Apartamento,"Rua Rua Camões, 77 1º 1.1, 4000-144 Porto, Por...",NaN,41.152554,-8.610274,78.587973,38.058922,272.813299,8
1,2,1.488758e+12,Be Happy Flat,2016.0,Apartamento,"Rua Rua Camões, 327 1.º Hab. 1.5, 4000-145 Por...",NaN,41.154861,-8.610286,283.877729,66.832204,523.688312,7
2,3,1.488758e+12,Camões Apartment,2016.0,Apartamento,"Rua Rua Camões, 387 2º Dt, 4000-146 Porto, Por...",NaN,41.155397,-8.610221,230.698904,100.771066,583.297994,7
3,4,1.488758e+12,Zarolho,2016.0,Apartamento,"None, None Porto, Portugal",NaN,41.157035,-8.610126,82.091015,6.434237,764.713348,7
4,5,1.488758e+12,Casa Carvalheiras,2016.0,Moradia,"None, 4000-159 Porto, Portugal",NaN,41.154907,-8.605619,405.762343,103.531424,700.770281,7